html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.hidden-week {
    display: none !important;
}

.fc-scrollgrid-sync-table{
    & tbody{
        & tr{
            height: 20% !important;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    z-index: 1000 !important;
}

.fc-view-harness {
    flex: 1 0 auto;
    overflow: hidden;
}

.fc-media-screen {
    width: 100% !important;
    height: 100% !important;
}

.fc .fc-toolbar-title {
    width: 100%;
    color: #444;
    font-size: 24px;
    font-weight: bold;
}

.fc .fc-daygrid-day-top {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
}

.fc .fc-daygrid-day-top a {
    width: 28px;
    border-radius: 50%;
    text-align: center;
}

.fc-daygrid-day-frame {
    box-sizing: border-box;
    padding: 0px;
    position: relative;
    border-top: none !important;
}

.fc-daygrid-day:hover .fc-daygrid-day-frame {
    cursor: pointer;
    border-radius: 10px;
    padding: 0;
}

.fc .fc-daygrid-event {
    pointer-events: none;
}

.fc .fc-col-header-cell {
    background-color: #f0f0f0;
}

.fc .fc-day-today {
    background-color: #fff !important;
}

.fc .fc-day-today .fc-daygrid-day-number {
    background-color: rgb(26, 115, 232);
    color: #fff;
}

.custom-event-content{
    span{
        color: #fff;
    }
}

.fc .fc-event {
    color: #fff;
    border: none !important;
}

.custom-event-content {
    padding: 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: none;
}

.custom-event-content span {
    color: #000;
    font-weight: 500;
}

.fc .fc-event:hover {
    opacity: 0.8;
}

.fc .fc-daygrid-event-dot {
    display: none;
}

.fc .fc-event {
    background-color: inherit;
}

.fc-scrollgrid-sync-inner{
    height: 20px;
    background-color: #fff;
    border-bottom: none !important;

    & a{
        font-size: 10px;
    }
}

.fc-daygrid-day-number{
    font-weight: 600;
    font-size: 12px !important;
    width: 24px !important;
    height: 24px !important;
    margin: 3px 0 10px 0;
}

.fc-col-header-cell{
    border-bottom: none !important;
}

.fc-daygrid-day {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

.fc-button {
    background-color: #fff !important;
    border: none !important;
}

.fc-button span {
    color: #000;
}

.fc-prev-button {
    margin-right: 30px !important;
}

.fc-next-button {
    margin-left: 30px !important;
}   

.fc-toolbar.fc-header-toolbar {
    display: none;
}

.fc-toolbar-chunk {
    margin: 0 5px;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(5%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.calendar-detail {
    animation: slideInFromRight 0.2s ease-out;
    position: absolute;
    z-index: 12000;
}